# ============================================================
# Salin file ini menjadi .env lalu isi nilainya
# cp .env.example .env
# ============================================================

# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/DBNAME?retryWrites=true&w=majority

# Port server backend (default: 5000)
PORT=5000
